.google-login-btn {
  border-radius: 50px !important;
  border: 1px solid #040404 !important;
  margin-bottom: 20px;
  box-shadow: unset !important;
}
.google-login-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px,
    rgba(0, 0, 0, 0.24) 0px 0px 1px 0px !important;
}
.google-login-btn div {
  margin-left: 10px;
  margin-right: 7px !important;
  padding: 6px !important;
}
.kep-login-facebook {
  border: 1px solid #040404;
}
.social-signin {
  margin: 20px 0px;
}
